@media(max-width: 624px) {
    body{
        padding: 15px;
    }

    .search-section{
        padding: 20px;
    }

    .hourly-weather{
        padding: 16px 20px;
    }

    .hourly-weather .weather-list{
        gap: 32px;
    }
}